body {
    margin: 0;
    padding: 1px 0.5rem;
    color: #f0f0f0;
    background-color: #0f0f0f;
    text-align: center;
    font-family: sans-serif;
    overflow-x: hidden;
}

section {
    margin: 1rem 0;
}

table {
    margin: auto;
    text-align: left;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

nav a {
    display: block;
    padding: 1.8rem 1rem;
}

.boxed {
    border-radius: 0.5rem;
}

.info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    fill: #f0f0f0;
}

.info aside {
    position: absolute;
    top: 150%;
    right: -999rem;
    width: 70vw;
    max-width: 20rem;
    padding: 1rem 2rem;
    line-height: 1.3;
    z-index: 1;
    background-color: rgba(0,0,0,0.9);
}

.info:hover aside, .info:focus aside {
    right: 0;
}

.sidebar {
    max-width: 30rem;
    position: relative;
    margin: 1.5rem auto;
    padding: 1px 0.5rem;
    background-color: #303030;
}

.generationSettings {
    text-align: left;
}

#canvas {
    display: block;
    margin: auto;
}

#reset {
    float: right;
}

#inputJSON {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 10rem;
    margin: 0.5rem 0;
    color: #f0f0f0;
    background-color: #0f0f0f;
}

@media (max-width: 48rem) {
    nav {
        position: static;
        justify-content: center;
    }

    h1 {
        margin-top: 0;
    }

    #reset {
        float: none;
        margin-top: 0.5rem;
    }
}
